<h2>Dashboard</h2>

<div>
  <%= link_to current_user.name, edit_user_path(current_user) %>
  <%= link_to "new Survey", new_user_questionnaire_path(current_user) %>
  <%= link_to 'Logout', logout_url %>
</div>

<div>
</div>

<div>
</div>
