<% unless @questionnaires.empty? %>
  <h2>List of <%= @user.name %> questionnaires</h2>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% for questionnaire in @questionnaires %>
      <tr>
        <td><%=h questionnaire.name %></td>
        <td><%= link_to "Show", questionnaire %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= @user.name %> has no questionnaires</p>
<% end %>
