<p>
  <strong>Name:</strong>
  <%=h @questionnaire.name %>
</p>

<ol>
<% for question in @questionnaire.questions %>
  <li>
    <%= question.question %>
    <ul>
    <% for answer_field in question.answer_fields %>
      <li><%= answer_field.answer %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>
