// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fields{ 
  border: 1px solid #AAA;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  .input{
    margin: 0;
  }
}
