// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.avatar{
  width:100%;
}
img.user-avatar{
  width:300px;
  float:left;
}
div.latest{
  float:left;
  margin-left:20px;
}
